* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


a,
li {
    text-decoration: none;
    list-style: none;
}

.img-logo {
    width: 50px;
    height: 50px;
}


.header {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.295);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 100;

}

.nav-menu {
    display: flex;

}

@media (max-width:600px) {

    .header {
        background-color: rgba(0, 0, 0, 0.295);
        flex-direction: column;
        align-items: center;
        width: 70px;
        height: 250px;

    }

    .img-logo {
        width: 30px;
        height: 30px;
    }

    .nav-menu {
        flex-direction: column;
        width: 70px;

    }

    .header .nav-menu li a {
        font-size: 14px;
    }

    main .set-pagina-inicial {
        justify-content: center;
        .card-inicial__titulo-mensagens__message-list>li>h2 {
            font-size: 35px;

        }

        .card-inicial__titulo-mensagens__message-list>li>p {
            font-size: 15px;

        }

    }

    .set-pag-filmes .card-filmes__card-sinopse {
        height: 250px;
    }

}

.nav-menu a {
    color: white;
    font-size: 18px;

}

.nav-menu li {
    margin-left: 0 auto;
    padding-right: 40px;

}

.nav-menu li :hover {
    color: rgb(0, 191, 255);
}


.nav-menu li a {
    display: block;
    padding: 10px;
    color: white;
}

.set-pagina-inicial {

    background-image: url("./src/fundoPagInicial2.jpg");
    background-size: cover;
    border-bottom: double rgba(0, 170, 255, 0.323)2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0 auto;

}

#btnMessageVoltar,
#btnMessageAvancar {
    background-color: rgba(0, 255, 255, 0);
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;

}

#btnMessageVoltar>img,
#btnMessageAvancar>img {
    border: none;
    width: 100%;

}

.card-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    border-bottom: double rgba(0, 170, 255, 0.323)2px;

}

.card-inicial__titulo-mensagens {
    height: 350px;
}

.card-inicial__titulo-mensagens__message-list {
    padding-left: 100px;

}

.card-inicial__titulo-mensagens__message-list li {

    display: none;

}

.card-inicial__titulo-mensagens__message-list li.active {
    display: block;

}

.card-inicial__titulo-mensagens p {
    color: white;
    font-size: 30px;
    padding-top: 25px;


}

.card-inicial h2 {
    color: white;
    font-size: 55px;

}


.card-inicial_cto-123 {
    width: 100%;
    display: flex;
    justify-content: space-between;


}

.card-inicial_cto-imglist {
    display: flex;
    gap: 20px;


}

.card-inicial_cto-imglist>li {

    opacity: 0.3;

}

.card-inicial_cto-imglist>li>img {

    width: 100%;

}


.set-pag-filmes {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 100px;
    background-color: rgb(0, 0, 0);

}

.card-filmes__slider {

    padding-top: 15px;
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;


}

.card-filmes__slider li {
    width: 300px;
}

.card-filmes__slider li>img {
    width: 100%;
}


.card-filmes__slider img:not(:hover) {
    opacity: 0.2;

}

#btnAvancar {
    background-color: rgba(0, 170, 255, 0.089);
    color: white;
    width: 100px;
    height: 40px;
    font-size: 17px;
    cursor: pointer;

}

#btnAvancar:hover {
    background-color: rgba(0, 170, 255, 0.559);
}

#ListSinopseFilmeCard1,
#ListSinopseFilmeCard2 {
    display: none;
}

.card-filmes__card-sinopse {

    border-bottom: double rgba(0, 170, 255, 0.323)2px;
    border-top: double rgba(0, 170, 255, 0.323)5px;
    border-right: double rgba(0, 170, 255, 0.323)2px;
    width: 96%;
    height: 140px;
    margin: 0 auto;

}

#card-sinopse_Textos {
    padding-top: 10px;
    color: white;
}

.card-personagens {
    background-color: black;
    padding-left: 90px;
    padding-top: 50px;

}

.card-personagens__nome-persoagens {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.card-personagens__nome-persoagens li {
    width: 250px;
    margin: 0 auto;
}


.card-personagens__nome-persoagens li:hover {

    width: 260px;
    border: solid rgb(255, 255, 255) 1px;

}

.card-personagens__nome-persoagens li {

    transition: 0.5s ease-in-out;

}


.card-personagens__nome-persoagens li:not(:hover) {
    opacity: 0.3;
    border: double cadetblue;


}

.card-personagens__nome-persoagens li img {

    width: 100%;

}

.card-personagens h2,
.set-pag-filmes__titulo h2 {
    padding-top: 5px;

    color: rgb(255, 255, 255);

}

.card-personagens p,
.set-pag-filmes__titulo p {
    color: rgb(255, 255, 255);
    padding-top: 10px;

    font-size: 19px;

}


.card-personagens__nome-persoagens h3 {

    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-top: 10px;

}

.card-personagens__nome-persoagens li p {

    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 18px;

}

.card-personagens h1 {
    color: rgb(255, 255, 255);
    padding-top: 5px;
    font-size: 45px;

}

.set-pag-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;

}

.d-sobre,
h1,
h4,
p {

    padding-top: 10px;
    padding-bottom: 10px;

}

.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90x;
    justify-content: space-around;
}

.footer-itens>img {
    width: 30px;
    height: 30px;
}

.footer-itens {

    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid white 5px;


}

.footer-itens_textos-sobre,
.footer-itens_textos-informacao {
    color: white;
    text-align: center;

}