* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


a,
li {
    text-decoration: none;
    list-style: none;
}

.img-logo {
    width: 50px;
    height: 50px;
}

.img-fundo {
    width: 100%;
    filter: brightness(55%);
}

.header {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.295);
    display: flex;
  justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 100;
 

}

.nav-menu {
    display: flex;
   
  

}

@media (max-width:600px){
    
    
.header{
    background-color: rgba(0, 0, 0, 0.295);
    flex-direction: column;
    align-items: start;
    width: 63px;
    height: 250px;
      
}
.nav-menu {
    
  flex-direction: column;
   
}
.header .nav-menu li a{
   
font-size: 12px;}
 .card-inicial .card-inicial__titulo-informacao{
  
  padding-top: 0;
  width: 80%;
            
}


}

.nav-menu a {
    color: white;
    font-size: 18px;

}

.nav-menu li {
    margin-left: 0 auto;
    padding-right: 80px;

}

.nav-menu li :hover {

    color: rgb(0, 191, 255);
  

}


.nav-menu li a {
    display: block;
    padding: 10px;
    color: white;
 
}

.set-pagina-inicial {
    display: flex;
    position: relative;
  

}
#btnMessageVoltar{
background-color: rgba(0, 255, 255, 0);
width: 80px;
height: 80px;
border:none;

}
#btnMessageVoltar>img, #btnMessageAvancar>img{
border: none;
width: 80px;
height: 80px;

}

.card-inicial {
   background-color: rgba(0, 0, 0, 0.395);
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-gap: 35px;
   position: absolute;
  top:30%;
  align-items: center;
  border-bottom:double rgba(0, 170, 255, 0.323)2px;
 
}
.card-inicial__titulo-mensagens__message-list{

    padding-left: 100px;
   width: 80%;
   height: 300px;
}

.card-inicial__titulo-mensagens__message-list li {

    display: none;
    
}

.card-inicial__titulo-mensagens__message-list li.active {
    display: block;
   
  }

.card-inicial__titulo-mensagens p{
    color: white;
    font-size: 24px;
    padding-top: 25px;
  

}

.card-inicial h2 {
    color: white;
    font-size: 50px;

}

.card-inicial_cto-123{

display: grid;
grid-column: 2;justify-content: center;

}
.card-inicial_cto-imglist{
display: flex;
padding-top:125px ;
gap: 20px;

}
.card-inicial_cto-imglist>li{

    opacity: 0.3;
    
      }



.set-pag-filmes {
    padding: 52px;
    background-color: rgba(1, 9, 11, 1);

}


.card-filmes {
   

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   align-items: center;
    padding-top: 50px;
    padding-left: 50px;

}


.card-filmes__slider {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.card-filmes__slider img:not(:hover) {
    opacity: 0.2;

}
.card-filmes__slider:hover #botaoSinopse{
    display: none;
    
}



#botaoAvancar {

    width: 80px;
    height: 40px;
    background-color: green;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    
}


#botaoAvancar:hover{
    background-color: rgb(0, 117, 226);

}

#botaoSinopse{
position: absolute;
    width: 80px;
    height: 40px;
    top: 50;
    left: 40%;
    color: rgb(255, 255, 255);
    background-color: green;
    
}



.card-sinopse {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 480px;
    background-color: rgb(255, 255, 0);

}

.card-personagens {
    background-color: black;
    padding: 50px;

}

.card-personagens>ul {
    padding: 35px;
    display: flex;
    flex-wrap: wrap;

}

.card-personagens ul li {

    margin: 0 auto;

}


.card-personagens__nome-persoagens li:hover {

    width: 260px;
    border: solid rgb(255, 255, 255) 1px;

}

.card-personagens__nome-persoagens li {

    transition: 0.5s ease-in-out;

}




.card-personagens__nome-persoagens li:not(:hover) {
    opacity: 0.3;
    border: double cadetblue;


}

.card-personagens li {
    width: 250px;

}

.card-personagens>ul>li img {

    width: 100%;

}

.card-personagens h2,
.set-pag-filmes__titulo h2 {
    padding-top: 5px;
    padding-left: 30px;
    color: rgb(255, 255, 255);

}

.card-personagens p,
.set-pag-filmes__titulo p {
    color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 35px;
    font-size: 19px;

}


.card-personagens__nome-persoagens h3 {

    color: rgb(255, 255, 255);
    font-size: 25px;
    padding-top: 10px;

}

.card-personagens__nome-persoagens li p {

    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 18px;

}

.card-personagens h1 {
    color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-left: 30px;
    font-size: 45px;

}

.set-pag-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;

}

.d-sobre,
h1,
h4,
p {

    padding-top: 10px;
    padding-bottom: 10px;

}





    
  
  


